body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Orbitron';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.game{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.game-column{
    width: 300px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(4, 30, 21, 0.9);
    border-radius: 24px;
}

a{
    color: white;
}

.key-value {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: invert();
}

.game-over{
    position: fixed;
    top: 194px;
    
}


.game-over img{
    height: 480px;
    width: 720px;
}


.start-site{
    background-image: url('./img/9.Intro _ Outro Image/Start Screen/Opción 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.canvas-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('img/photo-frame2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 35px;
    padding-right: 35px;
    background-position: center;
    border-radius: 24px;
}

canvas {
    background-color: black;
    border-radius: 24px;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 2px 2px rgba(219, 182, 16, 0.9);
    border-radius: 12px;
    margin: 12px;
    box-sizing: border-box;
}

.title-box img {
    height: 80px;
    object-fit: contain;
    
}

h1{
    border-bottom: 3px solid rgba(219, 182, 16, 0.9);
    border-top: 3px solid rgba(219, 182, 16, 0.9);
}


.buttons-container{
    position: absolute;
    bottom: 20px;
    right: 43%;
    width: 15%;
}

.gameover-btn-container{
    position: absolute;
    bottom: 20px;
    right: 43%;
    width: 15%;
}

.buttons-container button{
    color: #bf0000;
    background-color: rgb(255, 209, 18);
    font-size: 30px;
    font-weight: 800;
    border: 6px solid rgb(149, 56, 22);
    border-radius: 3px;
    cursor: pointer;
}

.gameover-btn-container button{
    color: #bf0000;
    background-color: rgb(255, 209, 18);
    font-size: 30px;
    font-weight: 800;
    border: 6px solid rgb(149, 56, 22);
    border-radius: 3px;
    cursor: pointer;
}

.d-none {
    display: none ;
}




.link-button{
    text-decoration: none;
    color: #bf0000;
}

.mobile-buttons-container{
    display: none;
}



.impressum a{
    color: black;
}

/* Media Queries for different mobiles */

/* Game Page */
/* IPAD from 1024px width and 600px height to 1368 px width and 912px height */

@media (max-width:1400px) and (max-height: 1000px){
    .title-box{
        display: none;
    }
    .game-column{
        width: 157px;
        height: 80vh;
    }
    /* .game {
        margin-top: 30px;
    } */
    .game-over{
      top: 0;
      bottom: 0;
    }

    .game-over img{
        height: 100vh;
    }

    .gameover-btn-container{
        bottom: 121px;
    }
}

@media (max-width:1300px) and (max-height: 850px){
    .game-column {
        width: 205px;
        height: 91vh;
    }
   
}

/* ------------------------------------------------------------- */
/* Height PC screen */
@media (max-width: 1300px) and (max-height: 700px) and (min-height: 550px){
    .game-over img{
        height: 480px;
    }

    .game-over{
        top: 68px;
        bottom: none;
    }

    .gameover-btn-container{
        bottom: 135px;
    }

    .game-column{
        width: 180px;
    }
}

@media (max-width: 1160px) and (max-height: 700px){
    .game-over{
        top: 64px;
    }

    .game-column {
        width: 155px;
        height: 89vh;
    }

    .game{
        gap: 3px;
    }
}

@media (max-width:1130px) and (max-height: 700px){
    p, span{
        font-size: 16px;
    }

    .game-column{
        height: 98vh;
    }

    .game-over{
        top: 95px;
    }

    .game{
        gap: 1;
    }

    .canvas-container{
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 1050px) and (max-height: 700px){
   
    .key-value img{
        width: 30px;
    }

    .game-column{
        width: 121px;
    }
}

@media (max-width: 1000px) and (max-height: 700px){
    .game-column{
        display: none;
    }

    .game {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(#57b7d5, #42b0d1, #23a6cd,#1ea5cc, #1aa3cb, #b76127,  #b76c1d, #bc7a0f, #f9c86a,  #f9c86a   );
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    

    .game-over{
        top: 102px;
    }

    .mobile-buttons-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
    }

    .mobile-buttons-case img{
        width: 30px;
        height: 30px;
        filter: invert(17%) sepia(24%) saturate(7500%) hue-rotate(355deg) brightness(99%) contrast(99%);
    }

    .bottom-box{
        position: relative;
        bottom: 40px;
    }

    .top-box{
        position: relative;
        top: 40px;
    }
}

@media (max-width: 750px) and (max-height: 700px){
    #canvas{
        width: 100%;
    }
}

/* -------------------------------------------------------------- */

@media (max-width:1200px) and (max-height: 850px) and (min-height: 720px){
    .game-column{
        width: 158px;
       
    }

    .canvas-container {
        background-position: center;
    }
}

@media (max-width: 1150px) and (max-height: 770px) and (min-height:730px){
    .game-column {
        width: 155px;
        height: 89vh;
    }
    .game{
        gap: 3px;
    }
    .game-over{
        top: 110px;
    }
    .game-over img{
        height: 480px;
        width: 720px;
    }
    .gameover-btn-container{
        bottom: 186px;
    }
}

@media (max-width: 1115px) and (max-height: 770px) and (min-height: 720px){
    .game {
        margin-top: 0;
    }

    .game-over {
        top: 87px;
    }

    .game-over img{
        height: 480px;
    }

    .canvas-container{
        padding-left: 0;
        padding-right: 0;
    }

    p{
        font-size: 16px;
    }

    .game-column{
        width: 124px;
    }
}

@media (max-width: 1110px) and (max-height: 680px){
    .game-over{
        top: 27px;
    }
}

/* TURNED IPAD from 720px width and 1024px height to 912px width and 1368px height  */
    /* !NON MEASURABLE ON PC SCREEN ---- Max height: ca. 700px */
/* @media (max-width: 1000px) and (max-height: 1500px){
    .game-column{
        display: none;
    }

    .game-over{
        top: 169px;
    }

    .canvas-container{
        position: absolute;
    }

    .top-box{
        position:relative;
        top: 40px;
    }

    .bottom-box{
        position: relative;
        bottom: 40px;
    }

    .mobile-buttons-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
    }

    .mobile-buttons-case img{
        width: 30px;
        height: 30px;
        filter: invert(17%) sepia(24%) saturate(7500%) hue-rotate(355deg) brightness(99%) contrast(99%);
    }
}

@media (max-width: 810px) and (max-height: 1500px){
    .canvas-container{
        padding-left: 0;
        padding-right: 0;
    }
} */

/* TURNED SMARTPHONE from 653px width and 280px height to 915px width and 540px height */

@media (max-width: 1000px) and (max-height:480px){
    .canvas-container{
        background-image: none;
        position: relative;
       
    }

    #canvas{
        height: 100vh;
    }
    .game{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(#57b7d5, #42b0d1, #23a6cd,#1ea5cc, #1aa3cb, #b76127,  #b76c1d, #bc7a0f, #f9c86a,  #f9c86a   );
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .game-over{
        top: 0;
        bottom: 0;
    }

    .game-over img{
        width: 100%;
        height: 100vh;
    }

    .gameover-btn-container {
        bottom: 0;
    }

  
}

@media (max-width: 800px) and (max-height:600px){
    .canvas-container{
        background-image: none;
    }
    .game-over{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .game-over img{
        height: 100vh;
        width: 100%;
    }

    #canvas {
        width: 100%;
    }
    .game{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(#57b7d5, #42b0d1, #23a6cd,#1ea5cc, #1aa3cb, #b76127,  #b76c1d, #bc7a0f, #f9c86a,  #f9c86a   );
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }
}

/* SMARTPHONE from 280px width and 653px height to 540px width and 915px height */

@media (max-width:600px) and (max-height:1000px){
    #canvas{
        width: 100%;
        
    }

    .canvas-container{
        background-image: none;
        padding-left: 0;
        padding-right:0;
    }

    .game{
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(#57b7d5, #42b0d1, #23a6cd,#1ea5cc, #1aa3cb, #b76127,  #b76c1d, #bc7a0f, #f9c86a,  #f9c86a   );
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        margin-top: 0;
    }

    .game-column{
        display: none;
    }

    .game-over{
        top: 118px;
    }

    .game-over img{
        height: 480px;
    }

    .gameover-btn-container{
        bottom: 207px;
    }

    .mobile-buttons-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
    }

    .mobile-buttons-case img{
        width: 30px;
        height: 30px;
        filter: invert(17%) sepia(24%) saturate(7500%) hue-rotate(355deg) brightness(99%) contrast(99%);
    }

    .bottom-box{
        position: relative;
        bottom: 40px;
    }

    .top-box{
        position: relative;
        top: 40px;
    }
}

@media (max-width:400px) and (max-height:750px){
    .gameover-btn-container{
        bottom: 70px;
    }
}

/* FLUID by decrase screen width */

/* Start Page */

/* IPAD from 1024px width and 600px height to 1368px width and 912px */
@media (max-width: 1400px) and (max-height: 1000px) and (min-height:930px){
    .buttons-container{
        position: fixed;
        top: 0;
    }

    .title-box{
        display: none;
    }


}


