body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Orbitron';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.start-site{
    background-image: url('./img/9.Intro _ Outro Image/Start Screen/Opción 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.canvas-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('img/photo-frame2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 625px;
    width: 850px;
}

canvas {
    background-color: black;
}

.key-description {
    display: flex;
    font-weight: 700;
    gap: 50px;
    justify-content: center;
    
}

.key-value {
    height: 50px;
    width: 50px;
    filter: invert(26%) sepia(19%) saturate(3013%) hue-rotate(120deg) brightness(97%) contrast(98%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#space-value{
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: invert(21%) sepia(17%) saturate(2757%) hue-rotate(122deg) brightness(92%) contrast(104%);
    text-align: center;
}


#space-bar {
    
    height: 50px;
    width: 100px;
    margin-bottom: 7px;
  
}

.buttons-container{
    position: absolute;
    bottom: 20px;
    right: 43%;
    width: 15%;
}

.gameover-btn-container{
    position: absolute;
    bottom: 20px;
    right: 43%;
    width: 15%;
}

.buttons-container button{
    color: #bf0000;
    background-color: rgb(255, 209, 18);
    font-size: 30px;
    font-weight: 800;
    border: 6px solid rgb(149, 56, 22);
    border-radius: 3px;
    cursor: pointer;
}

.gameover-btn-container button{
    color: #bf0000;
    background-color: rgb(255, 209, 18);
    font-size: 30px;
    font-weight: 800;
    border: 6px solid rgb(149, 56, 22);
    border-radius: 3px;
    cursor: pointer;
}

.d-none {
    display: none ;
}

.game-over{
    position: absolute;
    
    
}

.game-over img{
    height: 350px;
    width: 600px;
    margin-bottom: 30px;
}

.link-button{
    text-decoration: none;
    color: #bf0000;
}

.mobile-buttons-container{
    display: none;
}

@media only screen and (max-width: 900px){
    body {
        background-image: linear-gradient(#57b7d5, #42b0d1, #23a6cd,#1ea5cc, #1aa3cb, #b76127,  #b76c1d, #bc7a0f, #f9c86a,  #f9c86a   );
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .key-description {
        display: none;
    }

    h1{
        display: none;
    }

    p {
        display: none;
    }

    .canvas-container {
        /* visibility: hidden; */
        height: 100vh;
        width: 100%;
        background-image: none;

    }

    #canvas{
        /* visibility: visible; */
    }

    .start-site {
        background-size: contain;
    }

   

    .buttons-container{
        bottom: none;
        top: 10%;
        right: 42%;
    }

    .mobile-buttons-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        
    }

    .mobile-buttons-case{
        display: flex;
        gap: 50px;
    }

    .mobile-buttons-case img{
        width: 30px;
        height: 30px;
        filter: invert(17%) sepia(24%) saturate(7500%) hue-rotate(355deg) brightness(99%) contrast(99%);
    }

    .gameover-btn-container {
        
        right: 42%;
    }
}

/* Smartphone 720 px */
@media only screen and (max-width: 720px) {
    .game-over img {
        width: 100%;
    }

    .gameover-btn-container{
        bottom: 64px;
        right: 52%;
    }
    
    .gameover-btn-container button{
        font-size: 24px;
        width: 200px;
    }

   

    #canvas{
        width: 100%;
    }

   

    

    .buttons-container{
        bottom: none;
        top: 10%;
        right: 44%;
    }
}

/* Smartphone 480px */
@media only screen and (max-height: 480px){
    #canvas {
        height: 100vh;
    }

    
}

@media only screen and (max-width: 480px){
    .buttons-container {
        right: 48%;
    }

    .gameover-btn-container{
        right: 58%;
    }
}

@media only screen and (max-width: 400px){
    .gameover-btn-container{
        right: 63%;
    }
}